<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>Ping-Cyrhades-Pong</title>
        <link href="main.css" rel="stylesheet">
    </head>
    <body>
        <h1>Ping-Cyrhades-Pong</h1>
        <button id="play">Jouer</button><button id="spectator">Etre spectateur</button>
        <h2><span id="count_spectator">0</span> Spectateur(s)</h2>
        <canvas width="1000" height="600" id="gamePong"></canvas>
        <script src="/socket.io/socket.io.js"></script>
        <script src="script.js"></script>
    </body>
</html>